html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: sans-serif;
}
main{
    max-width: 1200px;
    margin:auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;

}
header{
    background-color: #161616;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: #000000;
    color:white;
    border: solid;
    border-width: 0;
    border-top-width: 2px;
    border-color: #ffffff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
h2{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
header div {
    margin: 0;
}
header div * {
    margin-top: 5px;
    margin-bottom: 5px;
}
h1{
    font-size: 4rem;
}
header div p{
    font-size: 1.3rem;
}
.skils{
    position: absolute;
    top:0;
    left: 0;
    margin-left: 4px;
    padding: 10px;
}
.skils p{
    text-align: left;
}
.skils p svg{
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    transition: all .2s ease-in-out;
}
.socials{
    position: absolute;
    top:0;
    right: 0;
    margin-right: 4px;
    padding: 10px;
}
.socials p{
    text-align: right;
}
.socials p a{
    text-decoration: none;
}
.socials p svg, .socials p img{
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    fill: white;
    transition: all .2s ease-in-out;
}
.socials p svg:hover, .skils p svg:hover{
    transform: scale(1.2);
}
.socials p img:hover{
    transform: scale(1.1);
}
.discord:hover{
    fill: #5865f2;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 400px;
    margin: 20px;
    color: white;
}
.card div{
    position: relative;
}
.card .description{
    background-color: #161616;
    margin-top: -4px;
    font-size: 18px;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card .description p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.card .description p svg{
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}
.card img{
    width:100%;
    margin: 0;
    padding: 0;
}
.card .text-hover{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}
.card:hover img{
    transition: all .3s ease-in-out;
}
.card:hover .text-hover{
    transition: all .3s ease-in-out;
    opacity: 1;
}
.card:hover img{
    filter: brightness(80%)
}
.napravo{
    display: flex;
    float: right;
    margin-top: -5px;
}
@media only screen and (max-width: 600px) {
    
    .skils{
        display: none;
    }
    .socials {
        left: 0;
    }
    .socials p{
        text-align: center;
    }
    main{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    footer{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    h1{
        font-size: 30px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    h2{
        margin-bottom: 5px;
    }
    header div p{
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    .socials p svg, .socials p img{
        height: 30px;
    }
}

/*MOUSE SCROLL*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
	position: absolute;
    bottom: 30px;
    display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
}

.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
/* KONEC */